
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container
  form( method="post")#account-form.form-horizontal.span6
    h1
    p#sub1.subheading Please tell us a little about yourself.
    hr
    fieldset
      #name-cg.form-group
        label.col.md-3.control-label(for='name-tf') Name
        .col-md-9
          input.form-control.input-transparent#name-tf(type='text', name='name', value= user.name)
      #email-cg.form-group
        label.col-md-3.control-label(for='email-tf') Email
        .col-md-9
          input.form-control.input-transparent#email-tf(type='text', name='email', value= user.email)
      #clist-cg.form-group
        label.col-md-3.control-label(for='country-list') Location
        .col-md-9
          select.form-control.input-transparent#country-list(name='country')
            each item in countries
              option(selected=item.name == user.country)= item.name
      hr
      p#sub2.subheading
      #user-cg.form-group
        label.col-md-3.control-label(for='user-tf') Username
        .col-md-9
          input.form-control.input-transparent#user-tf.disabled(type='text', name='user', value= user.user)
      #pass-cg.form-group
        label.col-md-3.control-label(for='pass-tf') Password
        .col-md-9
          input.form-control.input-transparent#pass-tf(type='password', name='pass', value='')
      hr
      .form-buttons
        button(type='button')#account-form-btn1.btn
        button(type='submit pull-right')#account-form-btn2.btn

// display form errors in a custom modal window //

include modals/form-errors
