extends layout

block content
  .content
    .single-widget-container
      .widget.login-widget
        include account
        include modals/alert

block scripts
  script(src='/js/views/signup.js')
