script(src="socket.io/socket.io.js")
script(src="js/app.js")
script(src="js/init.js" defer)

script(src="lib/jquery/dist/jquery.min.js")
script(src="lib/jquery-pjax/jquery.pjax.js")
script(src="lib/bootstrap-sass/assets/javascripts/bootstrap.min.js")
script(src="lib/widgster/widgster.js")
script(src="lib/underscore/underscore.js")

script(src="js/application.js")
script(src="js/settings.js")

script(src="lib/jquery-ui/ui/core.js")
script(src="lib/jquery-ui/ui/widget.js")
script(src="lib/jquery-ui/ui/mouse.js")
script(src="lib/jquery-ui/ui/sortable.js")
script(src="lib/jqueryui-touch-punch/jquery.ui.touch-punch.min.js")
script(src="js/grid-live.js")

script(src="lib/masonry/dist/masonry.pkgd.js")

script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
